{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
{% if error %}
    <h3 class="error">{{ error }}</h3>
{% endif %}

{% if messg %}
    <h3 class="message">{{ messg }}</h3>
{% endif %}

<h1>Register</h1>
    <form class="form-horizontal" method="post" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="login">Login:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="login" name="login" placeholder="Enter yout new login">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="passwd">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="passwd" id="passwd" placeholder="Enter new password">
            </div>
        </div>
         <div class="form-group">
            <label class="control-label col-sm-2" for="passwd">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="passwd-rp" id="passwd-rp" placeholder="Repeat the password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    </form>
{% endblock %}
